{% extends 'base.html' %}

{% block content %}
    <div class="row mr-0 ml-0 mt-4 mb-4" style="justify-content: space-between; align-items: center">
        <h1>{{ publisher }}</h1>
        <a href="{{ link_to_this_page }}">
            <img src="{{ publisher.logo.url }}" class="rounded img-fluid" alt="publisher logo"
                 style="width:100%;max-width:200px;height:100%;max-height:200px">
        </a>
    </div>
    <hr>
    <div class="mt-4 mb-4" style="display: flex; justify-content: space-between; align-items: center">
        <h2>نشریات:</h2>
        <div class="form-group has-search mb-0" style="max-width: 50%">
            <form action="" method="get">
                <input name="q" type="text" class="form-control" placeholder="جست‌و‌جو">
            </form>
        </div>
    </div>

    <div class="row" style="justify-content: center">
        {% for publication in object_list %}
            <div class="card m-2" style="width: auto; min-width: auto">
            <a href="/media/publications/{{ publication.publisher.title }}/{{ publication.title }}"
               target="_blank" class="list-group-item list-group-item-action">
                <img class="card-img-top mt-2"
                     style="width:100%;max-width:150px;height:100%;max-height:150px; margin: auto"
                     src="/media/covers{{ publication.get_image_name }}.jpg"
                     alt="publisher image">
            </a>
                <hr class="mb-0">
                <div class="card-body" style="text-align: center">
                    <a href="/media/publications/{{ publication.publisher.title }}/{{ publication.title }}"
                        target="_blank" class="list-group-item-action">{{ publication.title }}</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}