{% extends 'base.html' %}

{% block content %}
    <div class="row mr-0 ml-0 mt-4 mb-4" style="justify-content: space-between; align-items: center">
        <h1>{{ publisher }}</h1>
        <img src="{{ publisher.logo.url }}" class="rounded img-fluid" alt="publisher logo"
             style="width:100%;max-width:200px;height:100%;max-height:200px">
    </div>
    <hr>
    <h2 class="mt-4 mb-4">نشریات:</h2>
    <div class="list-group mb-5">
        {% for publication in object_list %}
            <a href="/media/publications/{{ publication.publisher.title }}/{{ publication.title }}"
               class="list-group-item list-group-item-action">{{ publication.title }}</a>
        {% endfor %}
    </div>
{% endblock %}