{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section" style="display: flex; justify-content: center; align-items: center">
        <div class="border m-3" style="width: fit-content">
            <div class="m-4" style="width: fit-content">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        {{ form|crispy }}
                        <div class="mt-2">
                            {% if error == True %}
                                <small style="color: red">خطا در ورود</small>
                            {% endif %}
                            <button class="btn btn-outline-info" style="width: 100%" type="submit">ورود</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}