{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="mt-3" style="width: fit-content">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
                <div class="mt-2">
                    {% if error == True %}
                        <small style="color: red">خطا در آپلود</small>
                    {% endif %}
                    <button class="btn btn-outline-info" type="submit" style="min-width: 210px">بارگذاری</button>
                </div>
            </fieldset>
        </form>
    </div>
    <hr>
    <h2 class="mt-4 mb-4">نشریات شما:</h2>
    <div class="row" style="justify-content: center">
        {% for publication in publications %}
            <div class="card m-2" style="width: auto; min-width: auto">
            <a href="/media/publications/{{ publication.publisher.title }}/{{ publication.title }}"
               target="_blank" class="list-group-item list-group-item-action">
                <img class="card-img-top mt-2"
                     style="width:100%;max-width:175px;height:100%;max-height:175px; margin: auto"
                     src="/media/covers{{ publication.get_image_name }}.jpg"
                     alt="publisher image">
            </a>
                <hr class="mb-0">
                <div class="card-body" style="text-align: center">
                    <a href="/media/publications/{{ publication.publisher.title }}/{{ publication.title }}"
                        target="_blank" class="list-group-item-action">{{ publication.title }}</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}