<!DOCTYPE html>
<html lang="fa">
<head>
    <title>{% block title %}آرشیو نشریات{% endblock %}</title>
</head>

<body>
<div id="navbar">
    <form action="{% url 'search_results' %}" method="get">
        <input name="q" type="text" placeholder="جست‌وجو">
    </form>
    <a id="homepage" href="/">خانه</a>
    {% if user.is_authenticated %}
        <a id="upload" href="/accounts/upload">بارگزاری</a>
        <a id="logout" href="/accounts/logout">خروج</a>
    {% else %}
        <a id="login" href="/accounts/login">ورود</a>
    {% endif %}
</div>

<div id="content">
    {% block content %}
        <div>به سامانه‌ی آرشیو نشریات دانشگاه صنعتی شریف خوش آمدید.</div>
    {% endblock %}
</div>
</body>
</html>
